body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.income p {
  color: green;
  font-weight: bold;
}

.expense p {
  color: red;
  font-weight: bold;
}

form button{
  background-color: blue;
  border: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ddd;
  padding: 10px;
  margin: 5px 0;
  position: relative;
}

.delete-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

@media (max-width: 500px){
  form{
    display: flex;
    flex-direction: column;
  }
  input{
    margin-bottom: 0.1rem;
    padding: 0.1rem;
  }
  form button{
    padding: 0.3rem;
    border-radius: 0.2rem;
  }
  select{
    margin-bottom: 0.1rem;
    padding: 0.1rem;
  }
}