*{
	box-sizing: border-box;
}
body{
	background-color: ;
	padding: 0;
	margin: 0;
	padding-top: 6rem;
	font-family: Arial, sans-serif;
}
nav{
	background-color: blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
}
.logo{
	background-color: white;
	height: 2rem;
	color: white;
}
.siteName{
	font-size: 2rem;
	color: white;
}
.navDiv{
	display: flex;
	align-items: center;
}
.navMenu{
	display: flex;
	align-items: center;
	list-style: none;
	gap: 3rem;
}
.navList{
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
}
.navList:hover{
	border: 0.1rem solid white;
	padding: 1rem 2rem;
}
a{
	text-decoration: none;
}
.freeConsultation{
	background-color: #010dff;
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
	padding: 1rem 2rem;
}
.freeConsultation:hover{
	background-color: gray;
}
hr{
	border: none;
	border-top: 1px solid white;
}
.formSection{
	background-color: white;
	padding: 5%;
}
.inTouch{
	font-family: "WF Visual Sans", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-weight: bold;
	text-align: center;
}
label{
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.nameDiv{
	display: flex;
	flex-direction: column;
}
.firstInputs{
	padding: 0.6rem;
}
.formDiv{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3rem;
}
.formDiv > *{
	flex: 1;
}
.messageDiv{
	width: 100%;
	box-sizing: border-box;
	height: 10rem;
}
.formSubmitButton{
	background-color: #010dff;
	color: white;
	font-size: 1.5rem;
	border: none;
	margin-top: 0.7rem;
	margin-bottom: 5rem;
}
.lastSection{
	background-color: black;
	color: white;
	padding: 3rem;
}
.siteNameSecond{
	font-size: 2rem;
	font-weight: bold;
}
.quickLinks div{
	color: gray;
	margin-bottom: 0.7rem;
}
.emailSecond{
	padding: 0.8rem;
}
.forEmail{
	font-weight: bold;
}
.lastButton{
	background-color: #010dff;
	color: white;
	padding: 0.8rem;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}
.emailDiv{
	border: 0.1rem solid white;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0;

}







@media (min-width: 501px){
	nav{
		background-color: black;
		width: 100%;
	    padding: 0.5rem 2rem;
	}
	.navMenu{
	display: flex;
	align-items: center;
	list-style: none;
	gap: 3rem;
}
#hamburger{
		display: none;
	}
	#toggleMenu{
		display: none;
	}
	.inTouch{
	font-size: 4.5rem;
}
	.formDiv{
	gap: 6rem;
}
.formSubmitButton{
	padding: 1rem;
	width: 20%;
}
.lastDiv{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}
.emailDiv{
	border: 0.1rem solid white;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 0;

}
}






@media (max-width: 500px){
	*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    nav{
    	z-index: 1000;
        width: 100%;
        background-color: blue;
        padding: 0.5rem 1rem;   /* Reduce padding */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #hamburger{
        font-size: 2rem;
        cursor: pointer;
        display: block;
        color: white;
        margin-right: ;
    }
    #toggleMenu{
    	display: none;
    }
    .navMenu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        list-style-type: none;
        background-color: gold;
        color: red;
        z-index: 999;
        display: none;
    }
    .navMenu a li{
    	margin: 3rem 1.8rem;
    }
    #toggleMenu:checked ~ .navMenu{
    	display: block;
    }
	.inTouch{
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
	.formDiv{
	gap: 1rem;
}
.firstInputs{
	width: 11.4rem;
}
.formSubmitButton{
	padding: 0.5rem 0.7rem;
	width: 8rem;
}
.lastDiv{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
}